:root {
    /* ### Primary */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /* ### Neutral */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --font-title: 'Fraunces', serif;
    --font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font);
}

body { 
    font-size: 1.6rem;
    background-color: var(--Cream);
}







 
 /* 
- Mobile: 375px
- Desktop: 1440px 
*/